<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title>Game | Cheat Codes</title>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="container">
            <a th:href="@{/}" class="brand-logo">Game<span>.</span>web</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a th:href="@{/}">Action</a></li>
                <li class="active"><a th:href="@{/Adventure}">Adventure</a></li>
                <li><a th:href="@{/Puzzel}">Puzzel</a></li>
            </ul>
            <ul id="mobile-nav" class="side-nav">
                <li><a th:href="@{/}">Action</a></li>
                <li class="active"><a th:href="@{/Adventure}">Adventure</a></li>
                <li><a th:href="@{/favorites}">Puzzel</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="search-bar container">
    <div class="row">
        <div class="col s12">
            <form action="#" method="get">

            </form>
        </div>
    </div>
</div>
<div class="categories container">
    <div class="row">

    </div>
</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>